[submodule "include/vmath"]
	path = include/vmath
	url = https://github.com/kazhnov/vmath
[submodule "include/vcolor"]
	path = include/vcolor
	url = https://github.com/kazhnov/vcolor
[submodule "include/vmesh"]
	path = include/vmesh
	url = https://github.com/kazhnov/vmesh
